/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asosiy stillar */

html, body{
    font-family: sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/* Navigator bari uchun stillar */
#navigatorBar{
    background-color: #2a3c47;
    overflow: auto;
}

#navigatorBar a{
    color: #fff;
}

/* Navogator Bar h1 */

#navigatorBar h1{
    float: left;
    padding-top: 20px;
}

#navigatorBar ul{
    float: right;
    list-style: none;
}

#navigatorBar ul li {
    float: left;
}


#navigatorBar ul li a{
    display: inline-block;
    padding: 25px;
}

.container-1{
    width: 70%;
    margin: auto;
}


#navigatorBar ul li a:hover{
    background-color:#fff;
    color: black;
}

/* Umimiy stillar */
.text-color-1{
    color: #FFD700;
}

.btn{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.btn:hover{
    background-color:white;
    color: black;
}


.clr{
    clear: both;
}











/* Showcase uchun Stillar */
#showpanel{
    background-image: url(../Images/backhome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

#showpanel .container-2{
    text-align: center;
    color: #fff;
    padding-top: 200px;
}

#showpanel h1{
    font-size: 60px;
}

#showpanel p{
    padding-bottom: 20px;
}